{% extends "base.html.twig" %}

{% block title %}Кафе{% endblock %}

{% block body %}

    <div class="jumbotron" style="text-align: center">

        <h1>Добро пожаловать!</h1>
        <hr class="my-4">


        <a href="{{ path('place',{'id': place1.id}) }}"><h2>{{ place1.name}}</h2></a>

        <p>{{ place1.description }}</p>
        <img src="{{asset('images/places/' ~ place1.image) }}"/>

        <h4 style="margin-top: 20px">Самые продаваймые блюда данного заведения:</h4>
        {% for dish in dishes1 %}

        <img class="card-img-top" style="width: 500px" src="{{ asset('images/dishes/')~dish.dish.image~'.jpg ' }}"
             alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ dish.dish.name }}</h5>
            </div>
        {% endfor %}


        <hr>

        <a href="{{ path('place',{'id': place2.id}) }}"><h2>{{ place2.name}}</h2></a>
        <p>{{ place2.description }}</p>
        <img src="{{asset('images/places/' ~ place2.image) }}"/>
        <h4 style="margin-top: 20px">Самые продаваймые блюда данного заведения:</h4>

        {% for dish in dishes2 %}


        <img class="card-img-top" style="width: 500px" src="{{ asset('images/dishes/')~dish.dish.image~'.jpg ' }}"
             alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ dish.dish.name }}</h5>
            </div>
        {% endfor %}


    </div>
{% endblock %}
