{% extends "base.html.twig" %}

{% block title %}Кафе{% endblock %}

{% block body %}
<div class="jumbotron" style="text-align: center">
    <h1>БлюдS</h1>

        {% for dish in dishes %}
            <img class="card-img-top" style="width: 500px" src="{{ asset('images/dishes/')~dish.image~'.jpg ' }}"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ dish.name }}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>

            {% endfor %}

        </div>

    {% endblock %}
